// tablets and smaller

@media (max-width: 800px) {
  #header-home {
    height: 60vh;

    header-content {
      padding-top: 5rem;
    }
  }
}

// smartphones
@media (max-width: 500px) {
  #main-nav {
    flex-direction: column;
    align-items: center;

    li {
      padding: 1rem;
    }
  }

  #header {
    &-home {
      height: 20vh;
      border-bottom: 3px solid $main-color;
      background-position: 20% 30%;

      .header-content {
        display: none;
      }
    }

    &-inner {
      height: 20vh;
    }
  }

  #home-a .specials,
  #home-b .stats,
  #home-c .process,
  #about-d .testimonials,
  #contact-b .contact-info,
  .items {
    grid-template-columns: 1fr;
  }

  #home {
    &-a {
      .specials div {
        border-bottom: 1px solid $light-color;
        padding-bottom: 1rem;

        &:last-child {
          border: none;
        }
      }
    }
  }

  #about {
    &-a {
      .about-info {
        grid-template-areas:
          "bioimage"
          "bio"
          "aw1"
          "aw2"
          "aw3";
      }
    }

    &-c {
      display: none;
    }
  }

  #main-footer {
    height: 7rem;

    .footer-content {
      flex-direction: column;
      padding: 1rem;
    }
  }

  #contact {
    &-a {
      .text-fields {
        grid-template-areas:
          "name"
          "subject"
          "email"
          "phone"
          "message";
      }
    }
  }
}

@media (max-height: 580px) {
  #header-home {
    height: 100vh;
    .header-content {
      padding-top: 3rem;
    }
  }
}

@media (max-height: 330px) {
  #header-home {
    .header-content {
      h1 {
        font-size: 2rem;
      }
    }
  }
}
